@page
@model SombrerosLaPatrona.Pages.MochilasModel

<div class="card-container">
    @foreach (var Mochilas in @Model.Mochilas)
    {
        <div class="card">
            <div class="card-content" id="card_@Mochilas.Id">
                <div class="text-center">
                    <img src="@Mochilas.Img" alt="Mochila Wayu" class="img-card">
                </div>
                <hr>
                <div class="">
                    <div class="">
                        @Mochilas.Titulo
                    </div>
                    <div class="">
                        @Mochilas.Descripcion
                    </div>
                    <div class="">
                        V.Unitario: $ @Mochilas.ValorUnitario, V.Detal: $ @Mochilas.ValorDetal
                    </div>
                    <div class="text-right">
                        Carrito
                    </div>
                </div>
            </div>
        </div>
    }
</div>



@section Styles{
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}
